@font-face {
    font-family: 'GreatVibes';
    src: url('./GreatVibes.ttf') format('truetype');
}

body, html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  font-family: GreatVibes;
  background: #FFFFF2;
  overflow: hidden;
}

.feather {
  position: absolute;
  bottom: 60px;
  left: 150px;
}

.camInstructions {
    text-align: center;
    font-size: 35px;
    color: #222;
}

.header {
  color: #222;
  text-align:  left;
  padding: 25px;
  font-weight: bold;
  font-size: 60px;
  margin: 0;
}


#cam {
  max-width: 700px;
  max-height: 500px;
  margin: 0 auto;
}

#cam video {
  width: 100%;
  height: 100%;
}

.GuestScroller ul {
  list-style-type: none;
  background: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid green;
}

.GuestScroller ul > li {
  font-weight: bold;
  font-size: 36px;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid green;
}

